<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ToDo List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>ToDo List</h1>

<table th:if="${todos}" class="todo-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Due date</th>
        <th>Importance level</th>
        <th>Creation date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${#dates.format(todo.dueDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${todo.levelOfImportance}"></td>
        <td th:text="${todo.creationDate}"></td>
    </tr>
    </tbody>
</table>

<form action="/logout" th:action="@{/logout}" method="get">
    <div class="logout-button-container">
        <button type="submit">Logout</button>
    </div>
</form>
</body>
</html>