.todo-table {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
    cursor: default;
}

.todo-table th, .todo-table td {
    padding: 12px 15px;
    border: 1.5px solid black;
    text-align: center;
    transition: filter 0.3s ease;
}

.todo-table th:hover {
    filter: brightness(0.8);
}

.todo-table td:hover {
    background-color: lightgray;
}

.todo-table th {
    background-color: lightblue;
}

.error-message {
    color: red;
}